<div class="ui card item">
    <div class="content">
        <div class="right floated meta">
            {{waterboxdata.poem_time}}
        </div>
        <img src="../../public/images/user.jpg" class="ui avatar image">
        <span>{{waterboxdata.userName}}</span>
    </div>
    <div class="image" v-if="!!waterboxdata.imgSrc">
        <img :src="waterboxdata.imgSrc" class="ui wireframe image">
    </div>
    <div class="content">
        <h4 class="ui sub header">
            <a v-link="{ path: '/p/' + waterboxdata.id }">{{waterboxdata.title}}</a>
        </h4>
        <div class="ui small feed">
            <div class="event">
                <div class="content">
                    <p class="description" v-for="item in waterboxdata.lines">{{item}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <span class="right floated">
            <i class="heart like icon" :class="waterboxdata.likes > 0 ? 'active' : '' "></i>
            {{waterboxdata.likes}}
        </span>
        <span>
            <i class="book icon"></i>
            {{waterboxdata.type}}
        </span>
    </div>
</div>