<div class="ui card item">
    <div class="ui top left attached label">
        <a v-link="{ path: '/list/' + waterboxdata.type }">
            <i class="book icon"></i> {{{waterboxdata.typeString}}}
        </a>
    </div>
    <div class="ui top right attached label">
        {{waterboxdata.poem_time}}
    </div>
    <a class="image" v-if="!!waterboxdata.imgSrc" v-link="{ path: '/p/' + waterboxdata.id }">
        <img :src="waterboxdata.imgSrc" class="ui wireframe image">
    </a>
    <div class="content ui">
        <div class="ui small feed">
            <div class="event">
                <div class="content">
                    <h4 class="">
                        <a v-link="{ path: '/p/' + waterboxdata.id }">{{waterboxdata.title}}</a>
                    </h4>
                    <p class="description" v-for="item in waterboxdata.lines" track-by="$index">{{item}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <img src="http://odflit039.bkt.clouddn.com/14737614892742.pic.jpg?imageView2/2/w/110/h/110/interlace/1/q/100" class="ui avatar image">
        <span>{{waterboxdata.userName}}</span>
        <span class="right floated heart-span">
            <i class="heart like icon" :class="{active:likesState}" @click="like(waterboxdata.id, waterboxdata.likes)"></i>
            <span>{{waterboxdata.likes || 0}}</span>
        </span>
        <span class="right floated heart-span" v-if="isLoginState">
            <a v-link="{ path: '/update/' + waterboxdata.id}"><i class="edit icon"></i>编辑</a>
        </span>
    </div>
</div>