#login {
    background: rgba(0, 0, 0, 0) linear-gradient(135deg, #ea5c54 0%, #bb6dec 100%) repeat scroll 0 0;
    font-family: "Gudea", sans-serif;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    perspective: 800px;
}

#login .loginform,
#register .loginform {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    margin: 200px auto 0;
    max-width: 400px;
    padding: 0;
    position: relative;
}

#login #owl-login,
#register #owl-login {
    background-image: url(http://odflit039.bkt.clouddn.com/owl-login@2x.png);
    background-size: 211px 108px;
    height: 108px;
    left: 50%;
    margin-left: -104px;
    position: absolute;
    top: -100px;
    width: 211px;
}

#login #owl-login .hand,
#register #owl-login .hand {
    background-color: #472d20;
    border-radius: 40px;
    bottom: -8px;
    height: 34px;
    left: 14px;
    position: absolute;
    transform: scaleY(0.6);
    transition: all 0.3s ease-out 0s;
    width: 34px;
}

#login #owl-login .hand.hand-r,
#register #owl-login .hand.hand-r {
    left: 170px;
}

#login #owl-login .arms,
#register #owl-login .arms {
    height: 41px;
    overflow: hidden;
    position: absolute;
    top: 58px;
    width: 100%;
}

#login #owl-login .arms .arm,
#register #owl-login .arms .arm {
    background-image: url(http://odflit039.bkt.clouddn.com/owl-login-arm@2x.png);
    background-size: 40px 65px;
    height: 65px;
    left: 20px;
    position: absolute;
    top: 40px;
    transform: rotate(-20deg);
    transition: all 0.3s ease-out 0s;
    width: 40px;
}

#login #owl-login .arms .arm.arm-r,
#register #owl-login .arms .arm.arm-r {
    left: 158px;
    transform: rotate(20deg) scaleX(-1);
}

#login .loginform .pad,
#register .loginform .pad {
    overflow: hidden;
    padding: 30px 30px 10px;
}

#login .loginform .controls,
#register .loginform .controls {
    margin-bottom: 10px;
    position: relative;
}

#login #owl-login.password .hand,
#register #owl-login.password .hand {
    transform: translateX(42px) translateY(-15px) scale(0.7);
}

#login #owl-login.password .hand.hand-r,
#register #owl-login.password .hand.hand-r {
    transform: translateX(-42px) translateY(-15px) scale(0.7);
}

#login #owl-login.password .arms .arm,
#register #owl-login.password .arms .arm {
    transform: translateY(-40px) translateX(40px);
}

#login #owl-login.password .arms .arm.arm-r,
#register #owl-login.password .arms .arm.arm-r {
    transform: translateY(-40px) translateX(-40px) scaleX(-1);
}

#login .loginform label {
    color: rgba(0, 0, 0, 0.3);
    font-size: 16px;
    left: 13px;
    position: absolute;
    top: 13px;
}

.login-btn {
    padding: 0 30px 45px;
    width: 100%;
}
.goback {
    position: absolute;
    bottom: 5px;
    right: 30px;
}
.form div.input {
    width: 100%;
}
#app {
    position: static;
    padding: 0;
}