 <header id="header">
    <div class="wrapper">
        <div class="menu-bar">
            <div class="left-part">
                <a href="/" id="huaxia">
                    <svg version="1.1" id="svg_logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 6.69412 5.87059" style="enable-background:new 0 0 6.69412 5.87059;" xml:space="preserve">
                    <g id="XMLID_1_">
                        <path id="XMLID_2_" style="fill:#CE2A28;" d="M4.14058,1.92308c0,1.06209-0.80972,1.92308-0.80972,1.92308
                            S2.52115,2.98516,2.52115,1.92308S3.33087,0,3.33087,0S4.14058,0.86099,4.14058,1.92308z"/>
                        <path id="XMLID_4_" style="fill:#32AD46;" d="M4.59144,5.50893C3.67165,4.97788,3.33087,3.84615,3.33087,3.84615
                            s1.1505-0.27074,2.07029,0.2603s1.26058,1.66277,1.26058,1.66277S5.51124,6.03997,4.59144,5.50893z"/>
                        <path id="XMLID_3_" style="fill:#217DC1;" d="M2.07029,5.50893c0.91979-0.53104,1.26058-1.66277,1.26058-1.66277
                            s-1.1505-0.27074-2.07029,0.2603S0,5.76923,0,5.76923S1.1505,6.03997,2.07029,5.50893z"/>
                    </g>
                </a>
                <a href="#" class="menu-item">诗</a>
                <a href="#" class="menu-item">词</a>
                <a href="#" class="menu-item">赋</a>
            </div>
            <div class="right-part">
                <!-- <button class="ui red basic button">注册</button> -->
                <a class="ui green" v-if="login.status === 1">{{login.userName}}</a>
                <a class="ui red basic button" v-link="{ path: '/new' }" v-if="login.status === 1">新增</a>
                <a class="ui green basic button" v-if="login.status === 1" @click="logout">登出</a>
                <a class="ui green basic button" v-link="{ path: '/login' }" v-if="login.status === 0">登录</a>
            </div>
        </div>
    </div>
</header>