#main[name=poem-form] {
    width: 80%;
    margin: 0 auto;
    padding: 0 1.5%;
}
#main > .header {
    padding: 0 18px;
}
.segment > div.input {
    width: 90%;
    float: right;
    margin-top: -5px;
}
.segment > .button {
    font-size: 12px;
    font-weight: 400;
}
#submit {
    float: right;
    margin-right: 11px;
}
/*重置laydate样式*/
#laydate_box * {
    box-sizing: initial!important;
}
#laydate_YY {
    margin-right: 0;
}
#laydate_MM {
    float: right;
}
#app {
    position: relative;
    padding-top: 70px;
    padding-bottom: 350px;
    min-height:100%
}
/*重置laydate样式end*/
.field > .prompt {
    float: right;
}
.poem-title > .ui.label.prompt,
.poem-genres > .ui.label.prompt {
    margin-right: 45px;
}
.ui.input {
    width: 64%;
}
#main .ui > .column > .label {
    width: auto;
}
@media screen and (max-width: 810px) {
    #main {
        width: 80%;
    }
    #app .mobile > div {
        display: block;
        width: 100%;
    }
    .segment > div.input {
        width: 71%;
    }
}
.ui > .column > .label {
    width: 5rem;
}