footer {
    background-color: #1b1c1d;
    border-top: 9px solid #f2711c;
    width: 100%;
    padding-bottom: 20px;
    position:absolute;
    left: 0;
    bottom:0;
    width:100%;
}
#footer .footavatar, #footer .visitor {
    width: 80%;
}
.footavatar {
    color: #666;
    margin: auto;
    position: relative;
}
.footphoto {
    border: 5px solid #f16e50;
    display: block;
    left: 20px;
    position: absolute;
    top: -46px;
}
.footavatar img {
    height: 110px;
}
.footinfo {
    display: block;
    padding: 0 0 0 160px;
    margin: 0;
}
.finfo {
    color: #666;
}
.footinfo a {
    font-size: 16px;
}
.footinfo p {
    margin: 0;
    font-size: 12px;
}
.fname {
    color: #f16e50;
    font-size: 18px;
    line-height: 28px;
    margin-top: 16px;
}
.fname a {
    color: #f16e50;
}
.visitor {
    border-top: 1px solid #32302e;
    clear: both;
    margin: 40px auto 0;
    overflow: hidden;
    padding-top: 40px;
}
.visitor h2 {
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    padding: 0 20px;
}
.visitor p {
    padding-left: 10px;
}
.visitor p a {
    padding: 0 10px;
    font-weight: 200;
}
.visitor p a:not(:nth-of-type(1)) {
    border-left: 1px solid #999;
}