#main {
    margin-left: auto;
    margin-right: auto;
}
.ui.grid {
    margin: 0;
}
.bottom-loading {
    position: relative;
    width: 100%;
    height: 55px;
    bottom: 355px;
    left: 0;
    z-index: -1;
}
.info {
    text-align: center;
    position: relative;
    bottom: 355px;
}