html,
body,
ul,
ol,
li,
div,
p,
a {
    list-style: none;
    padding: 0;
    margin: 0;
}
body {
    font-size: 14px;
    position: relative;
}
a {
    color: #444;
    -webkit-transition: color .25s ease-out;
       -moz-transition: color .25s ease-out;
        -ms-transition: color .25s ease-out;
         -o-transition: color .25s ease-out;
            transition: color .25s ease-out;
}
a:hover {
    color: #db2828;
}
a{text-decoration:none; color:#333; -webkit-transition: color .2s;-moz-transition: color .2s;-o-transition: color .2s; -ms-transition: color .2s;transition: color .2s;}
a:hover{text-decoration:none; color: #ff7d8e;}
a:focus{outline:none;}
::selection {background:#ff7d8e; color:#fff;} 
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
*html clearfix {
    height: 1%
}
html, body {
    height: auto;
}
body {
    overflow-x: auto;
}
.mar-auto {
    margin: 0 auto;
}