html,
body,
ul,
ol,
li,
div,
p,
a {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    position: relative;
}

a:hover {
    color: #db2828;
}

a {
    text-decoration: none;
    color: #333;
    -webkit-transition: color .2s;
    -moz-transition: color .2s;
    -o-transition: color .2s;
    -ms-transition: color .2s;
    transition: color .2s;
}

a:hover {
    text-decoration: none;
    color: #ff7d8e;
}

a:focus {
    outline: none;
}

::selection {
    background: #ff7d8e;
    color: #fff;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

*html clearfix {
    height: 1%
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    padding-top: 65px;
}

#main {
    min-height: 100%;
    padding-bottom: 350px;
}

.mar-auto {
    margin: 0 auto;
}