html,
body,
ul,
ol,
li,
div,
p,
a {
    list-style: none;
    padding: 0;
    margin: 0;
}
body {
    font-size: 14px;
    position: relative;
}
a {
    color: #444;
    -webkit-transition: color .25s ease-out;
       -moz-transition: color .25s ease-out;
        -ms-transition: color .25s ease-out;
         -o-transition: color .25s ease-out;
            transition: color .25s ease-out;
}
a:hover {
    color: #db2828;
}
#app {
    position: relative;
    padding-top: 70px;
    padding-bottom: 330px;
    min-height:100%;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

*html clearfix {
    height: 1%
}