body {
    font-size: 14px;
    padding-top: 70px;
}
a {
    color: #444;
    -webkit-transition: color .25s ease-out;
       -moz-transition: color .25s ease-out;
        -ms-transition: color .25s ease-out;
         -o-transition: color .25s ease-out;
            transition: color .25s ease-out;
}
a:hover,
a.active{
    color: #db2828;
};
