#main {
    width: 80%;
}

.w-80 {
    width: 80%;
}

.poem-body {
    margin-top: -68px;
    font-family: 'winman_tun33004';
}

#app .poem-body > * {
    padding-left: 30px;
}

.poem-body > .segment.ui {
    font-size: 1rem;
}

#app .ui.label {
    margin-bottom: 10px;
}
#poem-body .image {
    text-align: center;
}
#poem-body img.ui.image {
    display: inline-block;
    max-width: 60%;
}
.ui.label {
    z-index: 9;
}