<div id="main" name="poem-form" class="mar-auto w-90">
    <v-loading v-if="load === 0"></v-loading>
    <div class="ui tall stacked segment green" v-else>
        <span class="ui teal ribbon label">{{poem.title}}</span>
        <div></div>
        <a class="ui ribbon label">{{poem.userName}}</a>
        <div></div>
        <span class="ui right ribbon label">{{poem.poem_time}}</span>
        <div></div>
        <a class="ui right ribbon label" v-link="{ path: '/list/' + poem.type }">{{poem.typeString}}</a>
        <div class="image baguette-img" v-if="!!poem.imgSrc">
            <a href="javascript:;"
            data-at-450="{{poem.imgSrc}}"
            data-at-800="{{poem.imgSrc}}"
            data-at-1366="{{poem.imgSrc}}"
            data-at-1920="{{poem.imgSrc}}" data-caption="{{poem.title}}">
                <img :src="poem.imgSrc" class="ui wireframe image" alt="{{poem.imgSrc}}">
            </a>
        </div>
        <div class="w-80 mar-auto poem-body" id="poem-body">
            <div class="ui vertical segment" v-for="item in poem.lines">{{item}}</div>
        </div>
    </div>
</div>
