#main.w-80 {
    width: 80%;
}

.poem-body {
    
}

#app .poem-body > * {
    padding-left: 30px;
}

.poem-body > .segment.ui {
    font-size: 1rem;
}

#app .ui.label {
    margin-bottom: 10px;
}
#poem-body .image {
    text-align: center;
}
#main img.ui.image {
    margin: 0 auto;
}
.ui.label {
    z-index: 9;
}
@media screen and (max-width: 810px) {
    #main {
        width: 90%;
    }
}