<div id="container" @mouseenter="showShade" @mouseleave="hideShade">
    <i class="remove icon" v-if="imgDisabled === 1" @click="remove"></i>
    <div class="img-disabled" v-if="imgDisabled === 1">请先移除图片再上传吧~</div>
    <button id="pickfiles">
        <input type="hidden" name="pic" v-model="srcobj.src" v-if="srcobj.state === 1"/>
        <img :src="srcobj.src" class="ui medium image">
    </button>
    <div class="ui active dimmer" v-if="loading === 1">
        <v-loading class="loading"></v-loading>
    </div>
</div>