#container {
    width: 300px;
    position: relative;
    margin-top: 30px;
}
@media screen and (max-width: 810px) {
   #container {
        text-align: center;
    }
}
#pickfiles {
    border: none;
    padding: 0;
}
.remove.icon {
    position: absolute;
    left: 0;
    top: 9px;
    z-index: 999;
    font-size: 2rem;
    cursor: pointer;
    color: #fff;
}
.dimmer.ui {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}
.dimmer.ui > .loading {
    left: 50%;
    margin-left: -12px;
    margin-top: -55px;
    position: absolute;
    top: 50%;
}
.img-disabled {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .3);
    z-index: 998;
    text-align: center;
    color: #fff;
}
.img-disabled:after {
    display:inline-block;
    width:0;
    height:100%;
    vertical-align:middle;
    content:"";
}